.container {
  position: relative;
}

.container img {
  width: 100%;
  display: block;
}

/* text on image */
.title {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  color: white;
  font-size: 6rem;
  font-weight: bold;

  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}